# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
bin/
obj/
dist/
out/
build/

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
nul
todo-app-frontend-chapter-08/
todo-frontend-chapter-09/